.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  height: 50opx;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
